<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Create an Album!!</title>
</head>

<head>
    <title>Create an album!</title>
</head>
    <body>
        <div class="title">
            <h1>Create an album to Photoshare</h1>
        <div id="content">
            <form method="post" action="/createalbum">
                <label for="name"><b>Enter the album name:</b></label>
                <input type="name" name="name" /><br />
                <input type="submit" />
            </form>
         </div>
    </body>
    </body>
<a href='/'>Home</a>